.container {
    padding: 20px;
  }
  
  .file-upload {
    margin-bottom: 20px;
  }
  
  .search {
    margin: 20px 0;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  mat-paginator {
    margin-top: 20px;
  }
  